* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

body {
  height: 100vh;

}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;

}

.studdet {
  display: flex;
  width: 500px;
  gap: 20px;
}

.table-1 {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-top: 10px;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.table {

  height: 100%;
  width: 100%;
  text-align: center;
}

#mark-1:focus,
#mark-2:focus,
#mark-3:focus,
#mark-4:focus {
  color: rgb(0, 179, 255);
}

#mark-1::placeholder,
#mark-2::placeholder,
#mark-3::placeholder,
#mark-4::placeholder {
  color: rgba(184, 16, 16, 0.84);
}

#mark-1,
#mark-2,
#mark-3,
#mark-4 {
  text-align: center;
}

#grade-1,
#grade-2,
#grade-3,
#grade-4 {
  text-align: center;
}

#btn {
  width: 90px;
}

@media screen and (max-width:600px) {
  .main {
    font-size: small;
    width: 100%;   
    padding: 10px;
  }

  .studdet {
    flex-direction: column; 
    width: 100%;
  }
}
